.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62vh;
  border-radius: 8px;
}

.login-card {
  background-color: white;
  padding: 40px;
  width: 400px;
  text-align: center;
  height: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

/* .input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
} */

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-card p {
  color: #888;
  margin-top: 10px;
}

.login-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

.login-card a:hover {
  text-decoration: underline;
}

.modal-body {
  background-color: #ffffff00;
  margin: auto;
  box-shadow: none;
}

.modal.show .modal-dialog {
  left: -12%;
  border-radius: 8px;
}

.login-card:nth-child(1) {
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.toggle-link {
  cursor: pointer;
}

.input-group {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.input-group input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.input-group label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.input-group :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.input-group :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

@media screen and (max-width: 550px)  {
  .login-card:nth-child(1){
       display: none;
  }

  .login-card:nth-child(2) {
    margin-left: -24rem;
  }
  
}